CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }} AS
SELECT 1 AS DUMMY;

CREATE OR REPLACE PROCEDURE SNEHAL_DB.PUBLIC.TEST_PARAM_SP(X STRING)
RETURNS STRING
LANGUAGE SQL
AS
$$
BEGIN
    RETURN X;
END;
$$;